<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SendingDatabackUsingDelegate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>29521A121E6588030003ABBC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>29521A2B1E6588030003ABBC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>29521A361E6588030003ABBC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
